# Edit and rename this file as application.properties

# configure twitter processor pool
taskExecutor.corePoolSize=5
taskExecutor.maxPoolSize=10
taskExecutor.queueCapacity=25

spring.rabbitmq.tweeter.exchange=spring-boot-exchange
spring.rabbitmq.tweeter.queue=tweets

spring.thymeleaf.cache=false