# Edit and rename this file as application.properties

# Banner created by
# http://patorjk.com/software/taag

# configure application
spring.main.web-environment=false
spring.thymeleaf.cache=false

# configure twitter
spring.social.twitter.appId=myKey
spring.social.twitter.appSecret=myKey
spring.social.twitter.accessToken=myKey
spring.social.twitter.accessTokenSecret=myKey

# configure twitter processor pool
taskExecutor.corePoolSize=5
taskExecutor.maxPoolSize=10
taskExecutor.queueCapacity=25

spring.rabbitmq.tweeter.exchange=spring-boot-exchange
spring.rabbitmq.tweeter.queue=tweets